// Body
$body-bg: #f8fafc;

// Typography

$font-family-Ubuntu-max-sans-serif: 'Ubuntu', sans-serif;
$font-family-Roboto-sans-serif: 'Roboto', sans-serif;
$font-size-base: 1rem;
$font-size-header: 1.5rem;
$line-height-base: 1.6;
$font-basic-weight:400;
$font-header-weight:600;
$font-spacing:2px;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #ff4d00;
$redD: #c72800;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$lite:#fff8f2;
$lowgrey:#b5b8b6;

//spaces
$padding_min:25px;
$padding_max:35px;
$padding_min_input:10px;

//box-shadow
$box_shadow:0px 0px 10px  rgba(0, 0,0,0.5);
$box_shadow_lite:0px 0px 10px  lightgray;
